<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name = "connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "connection.url">jdbc:mysql://localhost:3306/qlkhachsan</property>
        <property name = "connection.username">root</property>
        <property name = "connection.password">root3306</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name = "connection.pool_size">1</property>

        <!-- SQL dialect -->
        <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name = "current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name = "cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name = "show_sql">true</property>

        <property name = "hibernate.hbm2ddl.auto">update</property>

        <property name = "hibernate.jdbc.batch_size">20</property>
        <property name = "hibernate.order_inserts">true </property>
        <property name = "hibernate.order_updates">true </property>
        <property name = "generate_statistics">true</property>
        <property name = "hibernate.jdbc.batch_versioned_data">true</property>

        <!-- Add more models class here-->
        <mapping class="ql.khachsan.models.Phong" />
        <mapping class="ql.khachsan.models.LoaiPhong" />
        <mapping class="ql.khachsan.models.NhanVien" />
        <mapping class="ql.khachsan.models.LoaiNhanVien" />
        <mapping class="ql.khachsan.models.KhachHang" />
        <mapping class="ql.khachsan.models.PhieuDatPhong" />
        <mapping class="ql.khachsan.models.HoaDonThanhToan" />
        <mapping class="ql.khachsan.models.KhuyenMai" />
        <mapping class="ql.khachsan.models.ThamSo" />

    </session-factory>
</hibernate-configuration>